{% extends 'rango/base.html' %}

{% block title %}Profile{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Profile</h1>
    <h2>User: {{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>

    {% if userprofile %}
        <p>Website: <a = href="{{ userprofile.website }}" target="_blank" >{{ userprofile.website }}</a></p>
        {% if userprofile.picture %}
                <img src="{{ userprofile.picture.url }}" width=100% alt="Picture of {{ user.username }}" />
        {% endif %}
    {% else %}
        <p><strong>Could not file user profile details :(</strong></p>
    {% endif %}
</div>
{% endblock %}
